#image{
    margin-top: 10px;
   
    width: 60px;;
    padding: 20px;
    font-weight: 400;
    padding-bottom: 0px;
    height: 40px;
    user-select: none;
    text-decoration:line-through;
    font-style: italic;
    font-size: x-large;
   text-align: center;
    margin-left: 10px;
    
}

input{
    border:1px black solid;
}
